In [72]:
D <- seq(-6, 6, by=1)

In [73]:
D

 [1] -6 -5 -4 -3 -2 -1  0  1  2  3  4  5  6

In [74]:
Y <- rnorm(13, mean=40, sd=2)

In [75]:
Y <- D*rnorm(1, mean=-2, sd=0.1)  + Y

In [76]:
data <- data.frame(D, Y)

In [92]:
data

    D        Y
1  -6 46.79468
2  -5 52.22066
3  -4 49.83128
4  -3 46.58659
5  -2 42.74858
6  -1 45.29614
7   0 42.00114
8   1 34.51018
9   2 37.39791
10  3 37.12049
11  4 32.97490
12  5 31.14986
13  6 29.19777

In [102]:


dev <- cbind(data$D-mean(D), data$Y - mean(Y), (data$D-mean(D))^2, 
             (data$Y-mean(Y))^2, mean(D), mean(Y))
round(dev,2)

round(colSums(dev),4)

      [,1]   [,2] [,3]   [,4] [,5] [,6]
 [1,]   -6   6.19   36  38.35    0 40.6
 [2,]   -5  11.62   25 134.99    0 40.6
 [3,]   -4   9.23   16  85.17    0 40.6
 [4,]   -3   5.98    9  35.81    0 40.6
 [5,]   -2   2.15    4   4.61    0 40.6
 [6,]   -1   4.69    1  22.03    0 40.6
 [7,]    0   1.40    0   1.96    0 40.6
 [8,]    1  -6.09    1  37.11    0 40.6
 [9,]    2  -3.20    4  10.27    0 40.6
[10,]    3  -3.48    9  12.12    0 40.6
[11,]    4  -7.63   16  58.18    0 40.6
[12,]    5  -9.45   25  89.35    0 40.6
[13,]    6 -11.40   36 130.06    0 40.6

[1]   0.0000   0.0000 182.0000 660.0071   0.0000 527.8302

In [94]:
modl <- lm(Y ~ D, data=data)

In [91]:
round(cbind((data$D-mean(D))*(data$Y-mean(Y))),2)

        [,1]
 [1,] -37.15
 [2,] -58.09
 [3,] -36.92
 [4,] -17.95
 [5,]  -4.29
 [6,]  -4.69
 [7,]   0.00
 [8,]  -6.09
 [9,]  -6.41
[10,] -10.45
[11,] -30.51
[12,] -47.26
[13,] -68.43

In [99]:
sum(residuals(modl)^2)/11

[1] 6.181573

In [98]:
modl$df.residual

[1] 11

In [103]:
round(sum((data$D-mean(D))*(data$Y-mean(Y))),4)

[1] -328.2465