CPSC 440 – Homework 12

Due in class on Tuesday, April 26, 2016

1.	(10 points) A brewery is interested in assessing the acidity of five hops varieties (Armarillo, Cascade, Fuggle, Nugget, and Willamette) grown in a field in the state of Washington. Due to the need to control for row and column (i.e., range) field effects and the fact that only 25 plots were available, a Latin square design was implemented. The resulting data are provided in “HW.12.Latin.Square.Output.Data.xlxs”. Assume that all effects are fixed.

In [1]:
hw12_data <- read.csv('../../HW.12.Latin.Square.Output.Data.csv', header = T)

In [2]:
hw12_data

   Row Column        Line Acidity
1    1      1   Armarillo   14.84
2    1      2     Cascade   13.13
3    1      3      Fuggle   16.72
4    1      4      Nugget   15.37
5    1      5 Williamette    3.63
6    2      1     Cascade   14.05
7    2      2      Fuggle   15.69
8    2      3      Nugget   14.71
9    2      4 Williamette    7.00
10   2      5   Armarillo   11.50
11   3      1      Fuggle   10.85
12   3      2      Nugget   13.14
13   3      3 Williamette    2.86
14   3      4   Armarillo   12.24
15   3      5     Cascade    9.74
16   4      1      Nugget   15.10
17   4      2 Williamette    4.90
18   4      3   Armarillo   13.40
19   4      4     Cascade   14.00
20   4      5      Fuggle   13.79
21   5      1 Williamette    7.71
22   5      2   Armarillo   14.33
23   5      3     Cascade   12.36
24   5      4      Fuggle   14.72
25   5      5      Nugget   13.39


#### a.	(1 point) Write down the model. Include all subscripts and degrees of freedom. Define each term and write down the model assumptions.

$$
Y_{ijk} = \mu + \tau_i + \beta_j + \gamma_k + \epsilon_{ijk}, \epsilon_{ijk} \sim i.i.d. N(0, \sigma^2)
$$
$$
dfs = 25 = (1) + (4) + (4) + (4) + (12)
$$

$$
(i, j, k) \in \{1,2,3,4,5\}
$$

$$
\mu = \text{ grand mean}
$$

$$
\tau_i = \text{ effect of treatment}
$$

$$
\beta_j = \text{ effect of row block }
$$

$$
\gamma_k = \text{ effect of column block }
$$

$$
\epsilon_{ijk} \sim i.i.d. N(0, \sigma^2) \text{ random residual error }
$$


#### b.	(2 points) Fit the ANOVA model. Indicate the null and alternative hypotheses for the F test, as well as the F critical value you would use to test whether or not the population mean acidity is the same across all five hops varieties at $\alpha = 0.05$.

In [15]:
library(magrittr)
library(broom)
hw12_data$Row <- factor(hw12_data$Row)
hw12_data$Column <- factor(hw12_data$Column)
hw12_data %>% aov(Acidity ~ Row + Column + Line, data=.) -> modl 

modl %>% tidy

       term df     sumsq    meansq statistic      p.value
1       Row  4  30.93318  7.733296  6.263861 5.832642e-03
2    Column  4  16.41494  4.103736  3.323968 4.733943e-02
3      Line  4 295.06074 73.765186 59.748763 8.017193e-08
4 Residuals 12  14.81507  1.234589        NA           NA

$$
H_0: \mu_1 = ... =\mu_5 = 0
$$

$$
H_a: \text{ At least one mean is different}
$$
The ANOVA F-test is significant at the $\alpha=0.05$ level, and thus we reject the null that the population mean acidity is the same across all five lines.

#### c.	(1 point) Conduct a mean separation for the yield of the five hops varieties using Tukey’s W procedure.

In [19]:
modl %>% TukeyHSD(x=., which = "Line") -> W
round(W$Line,3)

                        diff     lwr    upr p adj
Cascade-Armarillo     -0.606  -2.846  1.634 0.905
Fuggle-Armarillo       1.092  -1.148  3.332 0.550
Nugget-Armarillo       1.080  -1.160  3.320 0.560
Williamette-Armarillo -8.042 -10.282 -5.802 0.000
Fuggle-Cascade         1.698  -0.542  3.938 0.176
Nugget-Cascade         1.686  -0.554  3.926 0.181
Williamette-Cascade   -7.436  -9.676 -5.196 0.000
Nugget-Fuggle         -0.012  -2.252  2.228 1.000
Williamette-Fuggle    -9.134 -11.374 -6.894 0.000
Williamette-Nugget    -9.122 -11.362 -6.882 0.000

#### d.	(3 point) Reanalyze the data without the row effect; that is, redo parts a.), b.), and c.) without the row effect in the model. Comment on how the results change.

In [20]:
hw12_data %>% aov(Acidity ~ Column + Line, data=.) -> modl 
modl %>% tidy
modl %>% TukeyHSD(x=., which = "Line") -> W
round(W$Line,3)

       term df     sumsq    meansq statistic      p.value
1    Column  4  16.41494  4.103736  1.435241 2.678171e-01
2      Line  4 295.06074 73.765186 25.798644 8.355431e-07
3 Residuals 16  45.74826  2.859266        NA           NA

                        diff     lwr    upr p adj
Cascade-Armarillo     -0.606  -3.882  2.670 0.978
Fuggle-Armarillo       1.092  -2.184  4.368 0.842
Nugget-Armarillo       1.080  -2.196  4.356 0.847
Williamette-Armarillo -8.042 -11.318 -4.766 0.000
Fuggle-Cascade         1.698  -1.578  4.974 0.525
Nugget-Cascade         1.686  -1.590  4.962 0.532
Williamette-Cascade   -7.436 -10.712 -4.160 0.000
Nugget-Fuggle         -0.012  -3.288  3.264 1.000
Williamette-Fuggle    -9.134 -12.410 -5.858 0.000
Williamette-Nugget    -9.122 -12.398 -5.846 0.000

The P value for the Line variable has decreased after removing the row block, however the contrasts that are significantly different via Tukey's W remain so.

#### e.	(3 points) Reanalyze the data without the row and column effects; that is, redo parts a.), b.), and c.) with both the row and column effects excluded from the model. Comment on how the results change.

In [21]:
hw12_data %>% aov(Acidity ~ Line, data=.) -> modl 
modl %>% tidy
modl %>% TukeyHSD(x=., which = "Line") -> W
round(W$Line,3)

       term df    sumsq   meansq statistic     p.value
1      Line  4 295.0607 73.76519  23.73275 2.35793e-07
2 Residuals 20  62.1632  3.10816        NA          NA

                        diff     lwr    upr p adj
Cascade-Armarillo     -0.606  -3.943  2.731 0.982
Fuggle-Armarillo       1.092  -2.245  4.429 0.861
Nugget-Armarillo       1.080  -2.257  4.417 0.866
Williamette-Armarillo -8.042 -11.379 -4.705 0.000
Fuggle-Cascade         1.698  -1.639  5.035 0.560
Nugget-Cascade         1.686  -1.651  5.023 0.567
Williamette-Cascade   -7.436 -10.773 -4.099 0.000
Nugget-Fuggle         -0.012  -3.349  3.325 1.000
Williamette-Fuggle    -9.134 -12.471 -5.797 0.000
Williamette-Nugget    -9.122 -12.459 -5.785 0.000

And this effect continues with the removal of the column block, where the P value has become marginally smaller, yet all the contasts that were statistically distinguishable at $\alpha=0.05$ using the Tukey W procedure remain so.