In [1]:
grades <- read.csv(file = "../grades.csv", header=T)

In [8]:
grades[12,]
cbind(1:length(colnames(grades)), colnames(grades))

   Last.Name First.Name Username Section..Total.Pts..0...598406
12       Hsu      Lucas   lihsu2                   NRES_440_AB2
   Quiz.14..Total.Pts..10...667328 Hw.13..Total.Pts..10...667327
12                              NA                            NA
   Quiz.13..Total.Pts..10...667326 Hw12..Total.Pts..10...667325
12                              NA                           NA
   Quiz.12..Total.Pts..10...598408 Hw.11..Total.Pts..10...598409
12                             1.5                             2
   Quiz.11..Total.Pts..10...598410 Hw.10..Total.Pts..10...598411
12                               2                             9
   Exam2.Total..Total.Pts..100...598417 Quiz.10..Total.Pts..10...598418
12                                   61                              NA
   HW.9..Total.Pts..10...598419 Quiz.9..Total.Pts..10...598420
12                           NA                              7
   Hw.8..Total.Pts..10...598421 Quiz.8..Total.Pts..10...598422
12                           NA                             NA
   Hw.7..Total.Pts..10...598423 Quiz.7..Total.Pts..10...598424
12                           NA                            7.5
   Hw.6..Total.Pts..10...598425 Quiz.6..Total.Pts..10...598426
12                          7.5                             10
   Hw.5..Total.Pts..10...598427 Exam1.Raw..Total.Pts..100...598435
12                           10                                 63
   Quiz.5..Total.Pts..10...598437 Quiz.4..Total.Pts..10...598438
12                              6                              6
   Hw.4..Total.Pts..10...598439 Quiz.3..Total.Pts..10...598440
12                            6                              9
   Hw.3..Total.Pts..10...598441 Quiz.2..Total.Pts..10...598442
12                          8.5                              6
   Hw.2..Total.Pts..10...598443 HW.1..Total.Pts..10...598445
12                            8                            9
   Quiz.1..Total.Pts..10...598444 HW.0..Total.Pts..10...598446
12                            8.5                           10

      [,1] [,2]
 [1,] "1"  "Last.Name"
 [2,] "2"  "First.Name"
 [3,] "3"  "Username"
 [4,] "4"  "Section..Total.Pts..0...598406"
 [5,] "5"  "Quiz.14..Total.Pts..10...667328"
 [6,] "6"  "Hw.13..Total.Pts..10...667327"
 [7,] "7"  "Quiz.13..Total.Pts..10...667326"
 [8,] "8"  "Hw12..Total.Pts..10...667325"
 [9,] "9"  "Quiz.12..Total.Pts..10...598408"
[10,] "10" "Hw.11..Total.Pts..10...598409"
[11,] "11" "Quiz.11..Total.Pts..10...598410"
[12,] "12" "Hw.10..Total.Pts..10...598411"
[13,] "13" "Exam2.Total..Total.Pts..100...598417"
[14,] "14" "Quiz.10..Total.Pts..10...598418"
[15,] "15" "HW.9..Total.Pts..10...598419"
[16,] "16" "Quiz.9..Total.Pts..10...598420"
[17,] "17" "Hw.8..Total.Pts..10...598421"
[18,] "18" "Quiz.8..Total.Pts..10...598422"
[19,] "19" "Hw.7..Total.Pts..10...598423"
[20,] "20" "Quiz.7..Total.Pts..10...598424"
[21,] "21" "Hw.6..Total.Pts..10...598425"
[22,] "22" "Quiz.6..Total.Pts..10...598426"
[23,] "23" "Hw.5..Total.Pts..10...598427"
[24,] "24" "Exam1.Raw..Total.Pts..100...598435"
[25,] "25" "Quiz.5..Total.Pts..10...598437"
[26,] "26" "Quiz.4..Total.Pts..10...598438"
[27,] "27" "Hw.4..Total.Pts..10...598439"
[28,] "28" "Quiz.3..Total.Pts..10...598440"
[29,] "29" "Hw.3..Total.Pts..10...598441"
[30,] "30" "Quiz.2..Total.Pts..10...598442"
[31,] "31" "Hw.2..Total.Pts..10...598443"
[32,] "32" "HW.1..Total.Pts..10...598445"
[33,] "33" "Quiz.1..Total.Pts..10...598444"
[34,] "34" "HW.0..Total.Pts..10...598446"

In [23]:
# quizzes: 5, 7, 9, 11, 14, 16, 18, 20, 22, 25, 26, 28, 30, 33

quizzes <- grades[12,c(5, 7, 9, 11, 14, 16, 18, 20, 22, 25, 26, 28, 30, 33)]
hw <- grades[12, c(6, 8, 10, 12, 15, 17, 19, 21, 23, 27, 29, 31, 32, 34)]
exams <- grades[12,c(13, 24)]

.25*sum(exams + 11, na.rm = TRUE) + .15*sum(hw+10, na.rm = TRUE) + .10*sum(quizzes+10, na.rm=TRUE) + .25*100

[1] 101.85

In [17]:
quizzes

   Quiz.14..Total.Pts..10...667328 Quiz.13..Total.Pts..10...667326
12                              NA                              NA
   Quiz.12..Total.Pts..10...598408 Quiz.11..Total.Pts..10...598410
12                             1.5                               2
   Quiz.10..Total.Pts..10...598418 Quiz.9..Total.Pts..10...598420
12                              NA                              7
   Quiz.8..Total.Pts..10...598422 Quiz.7..Total.Pts..10...598424
12                             NA                            7.5
   Quiz.6..Total.Pts..10...598426 Quiz.5..Total.Pts..10...598437
12                             10                              6
   Quiz.4..Total.Pts..10...598438 Quiz.3..Total.Pts..10...598440
12                              6                              9
   Quiz.2..Total.Pts..10...598442 Quiz.1..Total.Pts..10...598444
12                              6                            8.5

In [18]:
hw

   Hw.13..Total.Pts..10...667327 Hw12..Total.Pts..10...667325
12                            NA                           NA
   Hw.11..Total.Pts..10...598409 Hw.10..Total.Pts..10...598411
12                             2                             9
   HW.9..Total.Pts..10...598419 Hw.8..Total.Pts..10...598421
12                           NA                           NA
   Hw.7..Total.Pts..10...598423 Hw.6..Total.Pts..10...598425
12                           NA                          7.5
   Hw.5..Total.Pts..10...598427 Hw.4..Total.Pts..10...598439
12                           10                            6
   Hw.3..Total.Pts..10...598441 Hw.2..Total.Pts..10...598443
12                          8.5                            8
   HW.1..Total.Pts..10...598445 HW.0..Total.Pts..10...598446
12                            9                           10

In [21]:
exams

   Exam2.Total..Total.Pts..100...598417 Exam1.Raw..Total.Pts..100...598435
12                                   61                                 63